tei_travelogue.odd

<TEI xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>A TEI Customization for Encoding William Matthew Hayward's Travelogue</title>
        <author>Mengqi Ding and James Cummings, who created TEI Minimal</author>
      </titleStmt>
      <publicationStmt>
        <publisher>TEI Consortium</publisher>
        <availability status="free">
          <licence target="http://creativecommons.org/licenses/by-sa/3.0/"> Distributed under a Creative Commons
            Attribution-ShareAlike 3.0 Unported License </licence>
          <licence target="http://www.opensource.org/licenses/BSD-2-Clause">
            <p>Copyright 2013 TEI Consortium.</p>
            <p>All rights reserved.</p>
            <p>Redistribution and use in source and binary forms, with or without modification, are permitted provided that
              the following conditions are met:</p>
            <list>
              <item>Redistributions of source code must retain the above copyright notice, this list of conditions and the
                following disclaimer.</item>
              <item>Redistributions in binary form must reproduce the above copyright notice, this list of conditions and
                the following disclaimer in the documentation and/or other materials provided with the
                distribution.</item>
            </list>
            <p>This software is provided by the copyright holders and contributors "as is" and any express or implied
              warranties, including, but not limited to, the implied warranties of merchantability and fitness for a
              particular purpose are disclaimed. In no event shall the copyright holder or contributors be liable for any
              direct, indirect, incidental, special, exemplary, or consequential damages (including, but not limited to,
              procurement of substitute goods or services; loss of use, data, or profits; or business interruption) however
              caused and on any theory of liability, whether in contract, strict liability, or tort (including negligence
              or otherwise) arising in any way out of the use of this software, even if advised of the possibility of such
              damage.</p>
          </licence>
          <p>TEI material can be licensed differently depending on the use you intend to make of it. Hence it is made
            available under both the CC+BY and BSD-2 licences. The CC+BY licence is generally appropriate for usages which
            treat TEI content as data or documentation. The BSD-2 licence is generally appropriate for usage of TEI content
            in a software environment. For further information or clarification, please contact the <ref target="mailto:info@tei-c.org">TEI Consortium</ref>. </p>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Created from scratch by James Cummings, but looking at previous tei_minimal and tei_bare exemplars by SPQR and
          LR.</p>
      </sourceDesc>
    </fileDesc><encodingDesc><appInfo><application ident="RomaJS" version="1.0.0" when="2024-04-09T03:46:07.571Z"><desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref></desc></application></appInfo><appInfo><application ident="RomaJS" version="1.0.0" when="2024-04-10T05:37:36.114Z"><desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref></desc></application></appInfo></encodingDesc>
  </teiHeader>
  <text>
    <body>
      <head>A Minimal TEI Customization</head>
      
      <p>This TEI customization includes all the elements, attributes, and values required to transcribe and encode 
        William Matthew Hayward's travelogue in 1912. This 32-page travelogue documents Hayward's arrival in Quebec city 
        and his train trip across Canada from Quebec to Vancouver in May 1912. The documented manuscripts were preserved 
        to this day and were donated to the University of Victoria Library by Mrs J.V. Bryant in September 1972. This 
        schema includes prescribed values for describing the natural landscape Hayward saw during his train trip across 
        Canada (e.g., mountains, parks, lakes, waterfalls, etc), elements to capture his detailed traveling process and 
        his discoveries and feelings along the way, and the style attribute to capture information about the special 
        material status of several sheets of paper. Modules included in the customization, in addition to the header 
        and core modules, are the transcription module. Full use of this schema to encode William Matthew Hayward's 
        travelogue will facilitate questions about the theoretical and bibliographical values of original manuscripts 
        as autobiographical texts, and structural features of Canadian travel writing in the early twentith century.
        <list rend="numbered">
          <item><gi>teiHeader</gi> from the header module to store required metadata</item>
          <item><gi>fileDesc</gi> from the header module to record information about this file</item>
          <item><gi>titleStmt</gi> from the header module to record information about the title</item>
          <item><gi>publicationStmt</gi> from the header module to detail how it is published</item>
          <item><gi>sourceDesc</gi> from the header module to record where it is from</item>
          <item><gi>p</gi> from the core module for use in the header and the body</item>
          <item><gi>title</gi> from the core module for use in the titleStmt</item>
          <item><gi>TEI</gi> from the textstructure module because what is a TEI file without that?</item>
          <item><gi>text</gi> from the textstructure module to hold some text</item>
          <item><gi>body</gi> from the textstructure module as a place to put that text</item>
        </list>
      </p>
      <schemaSpec ident="tei_travelogue" start="TEI" prefix="tei_" targetLang="en" docLang="en">
        
        <!-- required minimal header elements -->
        <moduleRef key="header" include="teiHeader fileDesc titleStmt publicationStmt sourceDesc projectDesc principal availability"/>
        
        <!-- required core elements (p and title for use in titleStmt) -->
        <moduleRef key="core" include="p title add choice graphic author time unclear pb lb num note name date hi"/>
        
        <!-- required textstructure elements (TEI, text, and body) -->
        <moduleRef key="textstructure" include="TEI text body div titlePart docAuthor titlePage dateline docDate docTitle"/>
        
        <!-- required module tei instantiates lots of classes used for further expansion of this odd -->
        <moduleRef key="tei"/>
        
        
      <moduleRef key="msdescription" include="acquisition adminInfo width typeNote support supportDesc summary physDesc origin origDate institution condition colophon"/><moduleRef key="figures" include="figure"/><moduleRef key="namesdates" include="trait residence region placeName offset occupation nationality country climate persName person"/><moduleRef key="transcr" include="space damage"/><moduleRef key="drama" include="move"/><moduleSpec ident="tei_travelogue" mode="add"/><elementSpec ident="style" ns="http://www.example.org/ns/tei_minimal" mode="add" module="tei_travelogue"><classes/></elementSpec><elementSpec ident="add" mode="change"><desc versionDate="2024-04-10" xml:lang="en">contains letters, words, or phrases inserted or revised in the source
  text by an author, scribe, or a previous annotator or corrector.</desc></elementSpec><elementSpec ident="date" mode="change"><attList><attDef ident="n" mode="change"><desc versionDate="2024-04-10" xml:lang="en">gives a number for an element, which can be the specific date based on the day of the week in May 1912.</desc><valList mode="change"><valItem mode="add" ident="other"><desc versionDate="2024-04-10" xml:lang="en">when the specific date is unclear</desc></valItem></valList></attDef></attList></elementSpec><elementSpec ident="placeName" mode="change"><desc versionDate="2024-04-10" xml:lang="en">contains an absolute or relative place name Hayward mentioned when he traveled.</desc><attList><attDef ident="type" mode="change"><desc versionDate="2024-04-10" xml:lang="en">characterizes the place in some sense, using any convenient
 classification scheme or typology.</desc><valList mode="change"><valItem mode="add" ident="park"><desc versionDate="2024-04-10" xml:lang="en">it is the name of a park</desc></valItem><valItem mode="add" ident="waterfall"><desc versionDate="2024-04-10" xml:lang="en">mentions the name of a waterfall</desc></valItem><valItem mode="add" ident="lake"><desc versionDate="2024-04-10" xml:lang="en">mentions the name of a lake in Canada</desc></valItem><valItem mode="add" ident="mountain"><desc versionDate="2024-04-10" xml:lang="en">mentions the name of a mountain in Canada</desc></valItem></valList></attDef></attList></elementSpec><elementSpec ident="time" mode="change"><desc versionDate="2024-04-10" xml:lang="en">contains a phrase defining a time of day in any format, like arrival time, breakfast time, landing time, etc.</desc></elementSpec><elementSpec ident="damage" mode="change"><attList><attDef ident="type" mode="change"><valList mode="change"><valItem mode="add" ident="mould"><desc versionDate="2024-04-10" xml:lang="en">the area of damage is covered by mould on the text witness</desc></valItem><valItem mode="add" ident="stain"><desc versionDate="2024-04-10" xml:lang="en">the area of damage is covered by yellow stains on the text witness</desc></valItem><valItem mode="add" ident="split"><desc versionDate="2024-04-10" xml:lang="en">there are some cracks or splits in the paper, especially due to the time </desc></valItem></valList></attDef></attList></elementSpec></schemaSpec>
    </body>
  </text>
</TEI>